
<section class="py-32 border-y">
  <div class="container grid gap-12">
      {{> components/section-intro
        centered="true"
        subtitle="Upgrade to Pro"
        title="Want more?"
        description="Love this template? Unlock the full Cashflow Pro experience with additional pages, premium components, and comprehensive documentation."
      }}
      <div class="flex justify-center">
      {{> base/button type="primary" label="View Cashflow Pro" href="https://pixelrocket.store/templates/cashflow/html-tailwind" }}
      </div>
  </div>
</section>
