<div class="grid gap-6 max-w-lg text-center {{#if centered}} mx-auto {{else}} lg:text-left {{/if}}">
  <div class="grid gap-2">
    {{#if subtitle}}
      <div data-animate="fade-up blur" data-duration="0.6" data-blur="10" data-distance="30">
        {{> components/subtitle text=subtitle }}
      </div>
    {{/if}}
    {{#if title}}
      <div data-animate="fade-up blur" data-duration="0.6" data-delay="0.1" data-blur="10" data-distance="30">
        {{> components/title text=title }}
      </div>
    {{/if}}
  </div>
  {{#if description}}
    <p
      class="text-lg text-muted m-0"
      data-animate="fade-up blur"
      data-duration="0.6"
      data-delay="0.2"
      data-blur="10"
      data-distance="30"
    >{{ description }}</p>
  {{/if}}
</div>