<div class="pb-6"><article class="rounded-xl bg-neutral-900 ring-1 ring-white/10 p-7 flex-shrink-0">
  <div class="flex items-start justify-between mb-4">
    <div class="flex items-center gap-6">
      <img src="{{avatar}}" alt="{{name}}" class="!m-0 w-12 h-12 rounded-full object-cover" loading="lazy" />
      <div class="grid gap-2">
        <p class="font-semibold text-white !m-0 leading-none">{{name}}</p>
        <p class="text-sm text-primary !m-0 leading-none">{{role}}</p>
      </div>
    </div>
    <div class="w-5 h-5 text-primary flex-shrink-0">
      {{> base/icons/twitter-x }}
    </div>
  </div>
  <p class="text-neutral-300 leading-relaxed">{{{quote}}}</p>
</article></div>
