@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-timeline: --page-scroll;
  }

  .animate-scroll-progress {
    animation: scrollProgress linear;
    animation-timeline: --page-scroll;
    transform-origin: 0 50%;
  }
}


@keyframes scrollProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* FAQ Accordion Icon */
.faq-svg {
  color: rgba(255, 255, 255, 0.6);
}
