<div class="relative">
  <section class="grid gap-32 py-14 md:py-18 items-center container relative z-10">
      {{> home/grid }}
      <div class="grid gap-4 place-items-center text-center">
        <h1 class="m-0">Your money,<br><i class="text-primary">making sense</i></h1>
        <p class="max-w-md text-xl text-white/75 m-0">
          Cashflow is your AI personal finance manager, offering AI-powered insights that turn financial chaos into clarity.
        </p>
        <div class="mt-6">
          {{> base/button type="primary" label="Start Your Free Trial" href="/register.html" }}
        </div>
      </div>
  </section>

  <div class="container">
    {{> components/dashboard }}
  </div>
</div>
