<section class="container">
    <div class="flex flex-col lg:flex-row items-center gap-12">
      <!-- Icon Grid -->
      <div class="flex-1 flex justify-center">
        {{> home/icon-grid icons=@root.integrations.icons }}
      </div>

      <!-- Content -->
      {{> components/section-intro
        subtitle="Seamless integrations"
        title="Connect with your favourite tools"
        description="Our platform seamlessly connects with a variety of apps and services, allowing you to streamline your financial management process."
      }}


    </div>
</section>

